body {
    margin: 0;
    text-align: center;
    height: 0vw;
    background: #1B244A;
    color: #eeeeee;
    background-image: url("https://images.unsplash.com/photo-1574623452334-1e0ac2b3ccb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
    background-size: cover;
}



.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 200px;
    padding: 40px

}


.board-title-home {
    /* board-title-home */

width: 169px;
height: 41px;
left: 85px;
top: 168px;

font-family: 'Verdana';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 3px;
margin-bottom: 10px;

/* identical to box height, or 90% */
text-align: center;

color: #EEEEEE;
text-shadow: 1px 1px 10px black;;
}

.home-score1 {
    /* home-points-text */
margin-top: 41px;
width: 140px;
height: 120px;
left: 355px;
top: 125px;

font-family: 'Wallpoet', cursive;
font-style: normal;
font-weight: 400;
font-size: 90px;
line-height: 127px;
margin-bottom: 26px;
/* or 141% */
text-align: center;

color: #F94F6D;
background: black;
padding: 0px 18px 0px 18px;
border: 3px solid white;
}

.home-score {
    /* home-score */
width: 155px;
height: 120px;
left: 337px;
top: 125px;


}

.add-points-btn-home {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    
}

.btn:hover {
    color: #D56AA0;
    border-color: #D56AA0;
}

 .btn {



box-sizing: border-box;
font-family: 'Wallpoet', cursive;
font-style: normal;

width: 45px;
height: 45px;
left: 136px;
top: 271px;

border: 2px solid #9AABD8;
border-radius: 5px;
color: #9AABD8;
background: #1B244A;
} 

#new-btn {
    display: flex;
    background: #D56AA0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px 10px;
    border-radius: 10px;
    color: #eeeeee;
    text-shadow: 0px 0px 10px black;
    margin-bottom: 0px;
    
}

#new-btn:hover {
    border: 3px solid #F94F6D;
}

